* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  background-color: #23252c;
}
.container {
  margin: auto auto;
  max-width: 27%;
  border-radius: 10px;
  background-color: #1a1b21;
}
.Main {
  padding: 20px;
}
.Image {
  background-color: white;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h1,
h2,
.h3--Website {
  padding: 3px;
  text-align: center;
}
h2 {
  font-size: 1.1rem;
  color: #f3bf99;
}
.h3--Website {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 20px 0;
}
.Email,
.LinkedIn {
  padding: 5px 0;
  margin: 10px;
  width: 43%;
}
h3 {
  margin-top: 30px;
}
.Footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #161619;
  border-radius: 10px;
}
.Footer button {
  margin: 10px;
}
